body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.image-caption-small {
  font-size: 10px;
  font-weight: 500;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.header-text {
  font-size: 36px;
  font-weight: 700;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.subsubheader-text {
  font-size: 15px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.bold-body-text {
  font-size: 16px;
  font-weight: 700;
}

.tab{
  display: inline-block;
  margin-left: 10px;
}

li {
  margin: 15px;
}

.cv-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.degree {
  text-align: left;
}

.dates {
  text-align: right;
}


.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}