
/* Icons */

.right-arrow-icon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(5deg);  /*was 15deg*/
}

/* Horizontal line */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Navbar Styling */

.navbar {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .navbar {
    padding: 20px 20px;
    background-color: white
  }
}


/* Button Styling */

a.button {
  padding: 8px 16px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

a.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}


/* Footer Styling */

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }
}

/* Skills */

#skills {
  /*width: 100%;*/
  max-width: 800px;
  padding: 0 20px;
}

.skill-name {
  padding: 10px 10px;
  font-weight: 400;
  color: black;
  margin: 20 px 0;
  display: flex;
}

.skill-bar {
  height: 4 px;
  background: gainsboro;
  border-radius: 3px;
  margin: 10px 0;
}

.skill-per {
  height: 4px;
  background: black;
  border-radius: 3 px;
  /*position: relative;*/
}

/* icon row */
.icon-row {
  display: flex;
}

.icon-column {
  flex: 25%;
  padding: 5px;
}